<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
<head>
    <title>Dream Job - Applicant List</title>
</head>
<body>
    
    <div layout:fragment="content" class="container-xxl bg-white p-0">
        <!-- Header Start -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Applicant List</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item text-white active" aria-current="page">Applicant</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->


        <!-- Jobs Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Applicant Listing</h1>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                    <div class="tab-content">
                        <div class="tab-pane fade show p-0 active">
                            <div th:each="applicant : ${applicants}" class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid rounded" th:src="${applicant.urlPicture}" alt="" width="100">
                                        <div class="text-start ps-4">
                                            <h5 th:text="${applicant.nameUser}"></h5>
                                            <p th:text="${applicant.titleJob}"></p>
                                            <span class="text-truncate me-3"><i class="bi bi-building text-primary me-2"></i><span th:text="${applicant.companyName}"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                        <div class="d-flex mb-3">
                                            <a th:href="@{'/applicant/detail/' + ${applicant.id}}" class="btn btn-sm btn-info me-2">Detail</a>
                                            <div th:class="${applicant.status == 'PROCESSED' ? 'btn btn-sm btn-warning' :
                                                            applicant.status == 'REJECTED' ? 'btn btn-sm btn-danger' :
                                                            applicant.status == 'ACCEPTED' ? 'btn btn-sm btn-primary' :
                                                            'btn btn-sm btn-secondary'}"
                                                    th:text="${applicant.status}"></div>
                                        </div>
                                        <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Applicant Date: <span th:text="${applicant.applicantDate}"></span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jobs End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

</body>
</html>