<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
<head>
    <title>Dream Job - Company Detail</title>
</head>
<body>
    
    <div layout:fragment="content" class="container-xxl bg-white p-0">
        <!-- Header Start -->
        <div class="container-xxl py-5 bg-dark page-header mb-5">
            <div class="container my-5 pt-5 pb-4">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Company Detail</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-uppercase">
                        <li class="breadcrumb-item"><a th:href="@{/company}">Company</a></li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Detail</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Header End -->


        <!-- Profile Start -->
        <div class="container pb-5">
            <h3 class="mb-4 wow fadeInUp" data-wow-delay="0.1s">PROFILE</h3>
            <div class="tab-class wow fadeInUp" data-wow-delay="0.3s">
                <div class="tab-content">
                    <div class="tab-pane fade show p-0 active">
                        <div class="job-item p-4 mb-4">
                            <img class="img-fluid" th:src="${companyDetail.urlBanner}" alt="">
                            <div class="text-center mt-2">
                                <img th:src="${companyDetail.urlPicture}" alt="" width="200">
                            </div>
                            <div class="pt-3 text-center">
                                <h3 th:text="${companyDetail.name}"></h3>
                                <p class="fs-5 mb-0" th:text="${companyDetail.address}"></p>
                                <p class="fs-6 mb-0" th:text="${companyDetail.email}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="mb-4 mt-5 wow fadeInUp" data-wow-delay="0.1s">ABOUT</h3>
            <div class="tab-class wow fadeInUp" data-wow-delay="0.3s">
                <div class="tab-content">
                    <div class="tab-pane fade show p-0 active">
                        <div class="job-item p-4 mb-4">
                            <p class="mb-0" th:text="${companyDetail.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <h3 class="wow fadeInUp mb-4 mt-5" data-wow-delay="0.1s">JOB</h3>
            <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                <div class="tab-content">
                    <div class="tab-pane fade show p-0 active">
                        <div th:each="job : ${companyDetail.jobResponses}" class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" th:src="${job.urlPicture}" alt="" width="100">
                                    <div class="text-start ps-4">
                                        <h5 th:text="${job.title}"></h5>
                                        <p th:text="${job.companyName}"></p>
                                        <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i><span th:text="${job.address}"></span></span>
                                        <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i><span th:text="${job.type}"></span></span>
                                        <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i><span th:text="${job.salary}"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <a class="btn btn-primary" th:href="@{'/job/detail/' + ${job.id}}">Apply Now</a>
                                    </div>
                                    <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Post Date: <span th:text="${job.postDate}"></span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <h3 class="mb-4 mt-5 wow fadeInUp" data-wow-delay="0.1s">FEEDBACK</h3>
            <div class="tab-class wow fadeInUp" data-wow-delay="0.3s">
                <div class="tab-content">
                    <div class="tab-pane fade show p-0 active">
                        <div th:each="feedback : ${companyDetail.feedbackResponses}" class="job-item p-4 mb-4">
                            <div class="row g-4">
                                <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                    <img class="flex-shrink-0 img-fluid rounded" th:src="${feedback.applicantResponse.urlPicture}" alt="" width="100">
                                    <div class="text-start ps-4">
                                        <h5 th:text="${feedback.applicantResponse.nameUser}"></h5>
                                        <p th:text="${feedback.applicantResponse.titleJob}"></p>
                                        <span class="text-truncate me-3"><i class="bi bi-building text-primary me-2"></i><span th:text="${feedback.applicantResponse.companyName}"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    <div class="d-flex mb-3">
                                        <span th:each="star : ${#numbers.sequence(1, 5)}" class="fa fa-star" 
                                            th:classappend="${star <= feedback.rating} ? 'text-warning' : ''"></span>
                                    </div>

                                    <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Post Date: <span th:text="${feedback.postDate}"></span></small>
                                </div>
                                <p th:text="${feedback.comment}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Profile End -->
    </div>    

</body>
</html>