<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/main}"
>
<head>
    <title>Delete Modal</title>
</head>
<body>
    
    <!-- Delete Modal Start -->
    <div th:fragment="delete-modal" class="container-fluid">
        
        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your account? This action cannot be undone.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}" th:action="@{/talent/delete}" th:method="DELETE">
                            <button type="submit" class="btn btn-outline-danger"> Delete</button>
                        </form>
                        
                        <form th:if="${#authorization.expression('hasRole(''ROLE_COMPANY'')')}" th:action="@{/company/delete}" th:method="DELETE">
                            <button type="submit" class="btn btn-outline-danger"> Delete</button>
                        </form>

                        <form th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:action="@{/admin/delete}" th:method="DELETE">
                            <button type="submit" class="btn btn-outline-danger"> Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Delete Modal End -->

</body>
</html>
